<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Studentiki</title>
 </head>

 <style>
.center { text-align: center;}
</style>

  <body>
  <h1 class = "center">БАЗА СТУДЕНТИКОВ</h1>
  <div class = "center">
  <form action="page1" target="_blank">
   <button onclick="document.location='/first'">●  Главная страница  ●</button>
      <button onclick="document.location='/first/students'">● Список студентиков ●</button>
        <button onclick="document.location='/first/add'">●  Добавить ученика  ●</button>
  </form>
      <p>Данные внесены!</p>
      <p>Записывайтесь на получение пирожков:</p>
  <form method="post">{% csrf_token %}
        {{ form }}
      <input type="submit" value="Send" >
  </form>

      <p>Очередь за пирожками:</p>
      {% for item in all_p %}
    <p>ФИО: {{item.name}} / Количество пирожков: {{ item.how }}</p>
{% endfor %}

      </div>
 </body>
</html>