<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Studentiki</title>
 </head>

 <style>
.center { text-align: center;}
</style>

  <body>
  <h1 class = "center">БАЗА СТУДЕНТИКОВ</h1>
  <div class = "center">
  <form action="page1" target="_blank">
   <button onclick="document.location='/first'">●  Главная страница  ●</button>
      <button onclick="document.location='/first/students'">● Список студентиков ●</button>
        <button onclick="document.location='/first/add'">●  Добавить ученика  ●</button>
  </form>
      <p>Досье на студентика</p>
      <h1>{{all_s.name}}</h1>
<p>Пол: {{all_s.sex}} / Группа: {{all_s.group_id}}</p>
      <p>Характеристика: {{all_s.description}}</p>
   </div>
 </body>
</html>