<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Главная страница</title>
 </head>

 <style>
.center { text-align: center;}
</style>

  <body>
  <h1 class = "center">БРЕДОВОЕ ПОПОИЩЕ</h1>
  <div class = "center">
  <form action="page1" target="_blank">
   <button onclick="document.location='/'">▾ Мероприятие ▾</button>
      <button onclick="document.location='/people'">● Участники ●</button>
        <button onclick="document.location='/registration'">● Регистрация ●</button>
  </form>
      <p>Текст описания мероприятия.</p>
   </div>
 </body>
</html>